/* Home */

body {
	overflow: scroll;
	overflow-x: hidden;
	margin: 0px;
	color: black;
	font-family: Open Sans;
	width: 100%;
	height: 100%;
	background-size: cover;
	text-align: left;
	overflow: auto;
}

#background-overlay {
	position: relative;
	height: 100%;
	width: 100%;
	min-width: 900px;
	z-index: 100;
}
#top-background {
	z-index: 1000;
	width: 100%;
	height: 60px;
	background-color: white;
}
.content-overlay {
	position: relative;
	width: calc(100% - 140px);
	left: 140px;
	height: 100%;
	top: 0px;
	-webkit-transition: 300ms;
}


#content {
	position: relative;
	z-index: -1000;
	top: 60px;
	width: 800px;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transition: 300ms;
}


#img-cont {
	position: relative;
	height: 100%;
	width: 100%;
}


#background {
	width: 800px;
	margin-bottom: 20px;
	border-radius: 5px;
}

#top-bar {
	z-index: 10000;
	position: fixed;
	width: 100%;
	background-color: rgba(200,200,200,1);
	height: 60px;
	box-shadow: 0px 2px 2px rgba(200,200,200,1);
}

#menu-item {
	position: absolute;
	cursor: pointer;
	left: 50px;
	top: 10px;
	width: 40px;
}
#logo {
	position: absolute;
	left: 50%;
	width: 120px;
	transform: translateX(-60px);
}

#about-us {
	position: absolute;
	right: 50px;
	top: 10px;
	font-size: 25px;

}

#main-title {
	z-index: -1000;
	color: black;
	font-size: 50px;
	text-align: center;
}

#sub-title {
	margin-top: 5px;
	margin-bottom: 15px;
	color: black;
	font-size: 30px;
	text-align: center;
}

#exec-summary{
	font-size: 20px;
}

#text {
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 50px;
}
#side-bar {
	position: fixed;
	background-color: rgba(200,200,200,1);
	box-shadow: 2px 0px 2px rgba(200,200,200,1);
	width: 140px;
	height: calc(100% - 60px);
	transition: 300ms;
	overflow: auto;
	z-index: 50000;
}

.side-bar-active {
	-webkit-transform: translateX(-100%);
}

#link {
	position: relative;
	left: 5px;
	width: 110px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
	padding: 10px;
	color: black;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
}

#link:hover {
	box-shadow: 2px 2px 2px #888888;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the quotes and text in each section */
.quote, .text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

/* Styling for the author text in each quote */
.author {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

.carousel-container{
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
	left: 50%;
	border-radius: 5px;
	-webkit-transform: translateX(-50%);
	-webkit-transition: 300ms;
	background-color: black;
	
}

#carousel{
	width: calc(5*100%);
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}
.carousel-item{
	width: 20%;
	position: relative;
	height: 100%;
	float: left;
}

.content-overlay-active{
	width: 100%;
	left: 0px;
	height: 100%
}

.slimage {
	height: 90%;
	position: relative;
	top: 5%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-webkit-transition: 300ms;

}

.slimage:hover {
	top:0%;
	height: 100%;
}